<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>SignUp </h2>
    <hr>
    
<form [formGroup]="registerForm" (submit)="doLogin($event)">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input formControlName="name" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Username</label>
    <input formControlName="username" type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputEmail2" placeholder="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Regiter</button>
</form>
</div>
  </div>
</div>