<html>
  <head>
    <title>Purple Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
     <!-- Bootstrap core CSS -->
    <link href="css/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
   
    <!-- Material Design Bootstrap -->
    <link href="css/mdbootstrap/css/mdb.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    
    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="/scripts/core-js/client/shim.min.js"></script>
    <script src="/scripts/zone.js/dist/zone.js"></script>
    <script src="/scripts/reflect-metadata/Reflect.js"></script>
    <script src="/scripts/rxjs/bundles/Rx.js"></script>
    <script src="/scripts/@angular/core/bundles/core.umd.js"></script>
    <script src="/scripts/@angular/common/bundles/common.umd.js"></script>
    <script src="/scripts/@angular/compiler/bundles/compiler.umd.js"></script>
     <script src="/scripts/@angular/forms/bundles/forms.umd.js"></script>
    <script src="/scripts/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="/scripts/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
    <!-- 2. Load our 'modules' -->

    <script src='app/hero.js'></script>
    <script src='app/hero-form.component.js'></script>

    <script src='app/app.component.js'></script>
    <script src='app/app.module.js'></script>
    <script src='app/main.js'></script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/scripts/mdbootstrap/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/scripts/mdbootstrap/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/scripts/mdbootstrap/js/mdb.min.js"></script>

  </body>
</html>
