<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left-side">
            <header>
                <div style="text-align: -webkit-center;color:#fff">
                    <hr style="width: 80px;height: 5px">
                </div>
                <h1>PurpleWall</h1>
                <span>
                    <a href="#" [routerLink]="['signin']">Sign In</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" [routerLink]="['signup']">Sign Up</a>
                </span>
            </header>

        </div>
        <div class="col-md-6 right-slide">
        <router-outlet></router-outlet>
        </div>
    </div>
</div>